{extend name="public/base" /}
{block name="right_main"}
<div id="content">
	<div id="content-header"  class="content-extra">
	  	<div id="breadcrumb"> 
	  		<a href="" title="首页" class="tip-bottom">
	  			<span class="glyphicon glyphicon-home"></span>首页
	  		</a>
	  		<a href="" class="tip-bottom">管理员管理</a> 
	  		<a href="" class="current">管理员列表</a> 
	  	</div>
	</div>
	<div class="content">
		<div class="content-top">
			<a class="btn btn-primary white" href="{:url('add')}" role="button">添加管理员</a>
		</div>
		<table class="table table-hover table-bordered text-center" style="width: 823px">
		    <tr class="bg-info">
		        <td><strong>用户编号</strong></td>
		        <td><strong>用户名</strong></td>
		        <td><strong>所属用户组</strong></td>
		        <td><strong>最近一次登录IP</strong></td>
		        <td><strong>最近一次登录时间</strong></td>
		        <td><strong>操作</strong></td>
		    </tr>
			{volist name="list" id="vo"}
				<tr class="bg-danger">
					<td>{$vo.user_id}</td>
					<td>{$vo.user_name}</td>
					<td>{$vo.group}</td>
					<td>{$vo.last_login_ip}</td>
					<td>{$vo.last_login_time|date='Y-m-d H:i:s',###}</td>
					<td>
                        <a class="btn btn-primary btn-xs" href="{:url('edit',array('user_id'=>$vo.user_id))}" title="">编辑</a>
                        {if condition="$vo.user_id neq 1"}
                        <a class="btn btn-primary btn-xs" href="{:url('auth',array('user_id'=>$vo.user_id))}">授权</a>
                        {/if}
                        {if condition="$Think.session.admin_id eq 1"}
                        <a class="btn btn-primary btn-xs" href="javascript:deleteUser({$vo.user_id})">删除</a>
                        {/if}
					</td>
				</tr>
			{/volist}
		</table>
	</div>
</div>
<script type="text/javascript">
	function deleteUser(uid){
       var url="{:url('User/delete')}";
		if(confirm("确定删除该管理员吗?")){
			location.href=url+'?user_id='+uid;
		}
	}
</script>
{/block}