{extend name="public/base" /}
{block name="right_main"}
<div id="content" data-controller="ad" data-page="addAd">
	<div id="content-header"  class="content-extra">
	  	<div id="breadcrumb"> 
	  		<a href="" title="首页" class="tip-bottom">
	  			<span class="glyphicon glyphicon-home"></span>首页
	  		</a>
	  		<a href="" class="tip-bottom">广告管理</a> 
	  		<a href="" class="current">{$title}</a> 
	  	</div>
	</div>
	<div class="content">
		<div class="content-top">
			<a class="btn btn-primary white" href="{:url('adList')}" role="button">广告列表</a>
		</div>
	</div>
	<div class="content-left">
        <form method="post" action="" name="adform" enctype="multipart/form-data" class="form-horizontal" role="form" onsubmit="return checkForm();">
		<div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">广告名称：</label>
	    	</div>
	    	<div class="col-sm-9">
	      		<input type="text" name="ad_name" value="{if isset($info)}{$info.ad_name}{/if}" class="form-control" />
	      	</div>
	      	<span id="sp1" style="color:red;" class="col-sm-9 col-sm-offset-3"></span>
	    </div>
	    <div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">广告位置：</label>
	    	</div>
	    	<div class="col-sm-9">
	    		{if !empty($info.position_id)}
                <input type="hidden" name="position_id" value="{$info.position_id}">
                {else /}
                <input type="hidden" name="position_id" value="">
	    		{/if}
                <select name="ad_positions" class="form-control" id="ad_position" {if !empty($info.position_id)}disabled="disabled"{/if}>
                    <option value="">请选择...</option>
                    {volist name="list" id="vo"}
                    <option value="{$vo.position_id}" data-size="{$vo.ad_width}*{$vo.ad_height}" {if isset($info) && $vo.position_id eq $info.position_id}selected{/if}>{$vo.position_name}</option>
                    {/volist}
                </select>
                <span id="ad_size_tips"></span>
	      	</div>
            <span id="sp2" style="color:red;" class="col-sm-9 col-sm-offset-3"></span>
	    </div>
	    <div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">广告链接：</label>
	    	</div>
	    	<div class="col-sm-9">
	      		<input type="text" name="ad_link" value="{if isset($info)}{$info.ad_link}{/if}" class="form-control" />
	      	</div>
	    </div>
	    <div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">上传广告图片：</label>
	    	</div>
	    	<div class="col-sm-9">
                <input type="file" name="ad_img" />
	      	</div>
	    </div>
        {if !empty($info.ad_img)}
         <div class="form-group login-margin">
            <div class="col-sm-3">
                <label class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <img src="__PUBLIC__/{$info.ad_img}"/>
            </div>
        </div>
        {/if}
		<div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">描述：</label>
	    	</div>
	    	<div class="col-sm-9">
                <textarea name="ad_desc" style="resize:none;" rows="5" cols="57">{if isset($info)}{$info.ad_desc}{/if}</textarea>
	      	</div>
	    </div>
		<div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">是否显示：</label>
	    	</div>
	    	<div class="col-sm-9">
                <input type="radio" name="is_show" value="1" {if (isset($info) && $info.is_show eq 1) or !isset($info)}checked{/if}>是&nbsp;&nbsp;
                <input type="radio" name="is_show" value="0" {if isset($info) && $info.is_show eq 0}checked{/if}>否
	      	</div>
	    </div>
	    <div class="form-group login-margin">
		    <div class="col-sm-offset-3 col-sm-9">
		        <button class="btn btn-primary" type="submit"  name="dosubmit">确定</button>
		        <button class="btn btn-white" type="reset"  style="margin-left: 20px;">重置</button>
		    </div>
		</div>
		</form>
	</div>
</div>
{/block}
{block name="js"}
<script charset="utf-8" src="__JS__/ad.js"></script>
{/block}