{extend name="public/base" /}
{block name="right_main"}
<div id="content" data-controller="ad" data-page="addAdPosition">
	<div id="content-header"  class="content-extra">
	  	<div id="breadcrumb"> 
	  		<a href="" title="首页" class="tip-bottom">
	  			<span class="glyphicon glyphicon-home"></span>首页
	  		</a>
	  		<a href="" class="tip-bottom">广告管理</a> 
	  		<a href="" class="current">{$title}</a> 
	  	</div>
	</div>
	<div class="content">
		<div class="content-top">
			<a class="btn btn-primary white" href="{:url('adPosition')}" role="button">广告位置</a>
		</div>
	</div>
	<div class="content-left">
        <form method="post" action="" name="adform" class="form-horizontal" role="form" onsubmit="return checkForm();">
		<div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">广告位置：</label>
	    	</div>
	    	<div class="col-sm-9">
	      		<input type="text" name="position_name" value="{if isset($info)}{$info.position_name}{/if}" class="form-control" />
	      	</div>
	      	<span id="sp1" style="color:red;" class="col-sm-9 col-sm-offset-3"></span>
	    </div>
	    <div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">宽度：</label>
	    	</div>
	    	<div class="col-sm-9">
	      		<input type="text" name="ad_width" value="{if isset($info)}{$info.ad_width}{/if}" class="form-control" />(单位：PX)
	      	</div>
            <span id="sp2" style="color:red;" class="col-sm-9 col-sm-offset-3"></span>
	    </div>
	    <div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">高度：</label>
	    	</div>
	    	<div class="col-sm-9">
	      		<input type="text" name="ad_height" value="{if isset($info)}{$info.ad_height}{/if}" class="form-control" />(单位：PX)
	      	</div>
            <span id="sp3" style="color:red;" class="col-sm-9 col-sm-offset-3"></span>
	    </div>
		<div class="form-group login-margin">
			<div class="col-sm-3">
	    		<label class="control-label">描述：</label>
	    	</div>
	    	<div class="col-sm-9">
                <textarea name="position_desc" style="resize:none;" rows="5" cols="57">{if isset($info)}{$info.position_desc}{/if}</textarea>
	      	</div>
	    </div>
	    <div class="form-group login-margin">
		    <div class="col-sm-offset-3 col-sm-9">
		        <button class="btn btn-primary" type="submit"  name="dosubmit">确定</button>
		        <button class="btn btn-white" type="reset"  style="margin-left: 20px;">重置</button>
		    </div>
		</div>
		</form>
	</div>
</div>
{/block}
{block name="js"}
<script charset="utf-8" src="__JS__/ad.js"></script>
{/block}