{extend name="public/base" /}
{block name="right_main"}
<div id="content" data-controller="goods" data-page="index">
	<div id="content-header" class="content-extra">
	  	<div id="breadcrumb"> 
	  		<a href="" title="首页" class="tip-bottom">
	  			<span class="glyphicon glyphicon-home"></span>首页
	  		</a> 
	  		<a href="" class="tip-bottom">会员管理</a> 
	  		<span class="current">会员列表</span> 
	  	</div>
	</div>
	<div class="content">
        <div class="content-top">
		</div>
		<table class="table table-bordered text-center" style="width: 823px">
			<tr class="bg-info">
				<td>头像</td>
				<td>会员名</td>
				<td>性别</td>
				<td>注册时间</td>
			</tr>
			{volist name="list" id="vo"}
	            <tr class="bg-danger">
	                <td><img src="{$vo.headimgurl}" style="width:40px;height:40px"></td>
	            	<td>{$vo.nick_name}</td>
	                <td>
						{eq name="vo.sex" value="1"}男{else /}女{/eq}
					</td>
	                <td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
	            </tr>
			{/volist}
		</table>
		<div class="page">
			{$page}
		</div>
    </div>
</div>
{/block}